*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.ps
*.synctex.gz
Curriculum.sublime-workspace
curriculum-es.fdb_latexmk
curriculum-es.fls
curriculum-en.fdb_latexmk
curriculum-en.fls
curriculum-va.fdb_latexmk
curriculum-va.fls
curriculum.fdb_latexmk
curriculum.fls
